<div class="container">
  <div class="key">
    <%= image_tag src="keys.jpg", height: '300px', width: '400px' %>
  </div>
</div>

<div class="container">
  <h1> # Easy Steps to get Started </h1>
   <p> The hardest part I found when buying a house is who to trust. Home buying process going to be the biggest purchase of your life and a lot of people will be making money off this process. Upgrade to an premium for advise without bias for rushing to make a commission. Feel free to use the free version without the details of each section </p>
  <h3> Get your finances in Order</h3>
    <p> Get w-2s, paystubs, bank statements, figure out DTI, ###html for dti calc and mortgage Calc, taxes (*link to zillow*) </p>
  <h3> Get pre approval letter </h3>
    <p> Now that you know your dti go to any bank to get a pre approval letter. You need this to start to search for you house.</p>
    <p> realstate agents and home owners selling the house want this to know you meet the mimimum requirements for getting a mortgage. </p>
  <h3> Find a real estate agent </h3>
    <p> find someone who knows the area. they will be resposible for: ###. Most of the time you don't have to pay them anything. The sellers will pay their commission from the sale of the house</p>
  <h3> Find a lawyer (you pay) and Make an offer </h3>
   <p> The sellers will consider down payment, offer for the house.</p>
  <h3> Get the mortgage </h3>
    <p> consider fees, mortgage rate, type of mortgage </p>
  <h3> Apprisal and inspection </h3>
      <p> Home inspection and termite inspection(you pay), apprsial(you pay)</p>
  <h3> close the deal </h3>
