<div class="key">
  <%= image_tag src="keys.jpg", height: '300px', width: '605px' %>
</div>

<h1 class="list-title"> 8 Easy Steps to get Started </h1>
 <p class="list-details"> The hardest part I found when buying a house is who to trust. Home buying process going to be the biggest purchase of your life and a lot of people will be making money off this process. Upgrade to an premium for advise without bias for rushing to make a commission. Feel free to use the free version without the details of each section </p>
<ol>
  <li class="list"> Get your finances in Order</li>
    <p class="list-details"> Get W-2 forms and personal tax returns for past 2 to 3 years. Most recent paystubs, bank statements, credit card and loan statements.</p>
  <li class="list"> What can I afford? </li>
    <p class="list-details"> The main numbers you need to figure this out is figuring out Debt to Income ratio. You will need to find out all debts reported on your credit report and local property taxes. Figuring out what your property taxes will be exactly is a complicated process. You can get a good estimate by going to <a href="https://www.zillow.com">Zillow.</a></p>
  <li class="list"> Get a pre-approval letter</li>
    <p class="list-details"> Now that you know your dti go to any bank to get a pre approval letter. You need this to start to search for you house. Real estate agents and home owners selling the house want this to know you meet the mimimum requirements for getting a mortgage. </p>
  <li class="list"> Find a real estate agent </li>
    <p class="list-details"> find someone who knows the area. they will be resposible for: ###. Most of the time you don't have to pay them anything. The sellers will pay their commission from the sale of the house</p>
  <li class="list"> Find a lawyer (you pay) and make an offer </li>
   <p class="list-details"> The highest offer isn't the only consideration when deciding who to sell their house to. Amount of down payment, when the new owners want to move in are just a few other things they will think about. Also when picking a lawyer, price shouldn't be your only consideration. You want someone who specializes in real estate and who will get back to you in a timely manner.</p>
  <li class="list"> Get the mortgage </li>
    <p class="list-details"> Now that the offer has been accepted consider fees, mortgage rate, type of mortgage </p>
  <li class="list"> Apprisal and inspection </li>
      <p class="list-details"> Home inspection and termite inspection(you pay), apprsial(you pay)</p>
  <li class="list"> close the deal </li>
</ol>
