@import "bootstrap-sprockets";
@import "bootstrap";

.user-info {
  padding-top: 10px
}

.jumbotron {
  background-image: url(house.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.key {
  padding-top: 30px;
  align-content: center;
}
