<h1> Mortgage Calculator</h1>

<div class="col-xs-2">
  <label>Cost of House</label>
  <input class="form-control" id="inCost" type="text">
</div>

<div class="col-xs-2">
  <label>Down Payment</label>
  <input class="form-control" id="inDown" type="text">
</div>

<div class="col-xs-2">
  <label>Interest Rate</label>
  <input class="form-control" id="inAPR" type="text" placeholder="In Percentage">
</div>

<div class="col-xs-2">
  <label>Payment Period </label>
  <input class="form-control" id="inPeriod" type="text" placeholder="In Years">
</div>

<div>
  <button id="btnCalculate">Calculate Payments</button>
</div>


<p><b>Total Monthly Payment: <span id="outMonthly"></span></b></p>
